@charset "UTF-8";
* {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquotebefore, blockquoteafter, qbefore, qafter {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a img {
  border: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

@font-face {
  font-family: 'RictyDiminishedR';
  src: url("./../fonts/RictyDiminished-Regular.ttf");
}

@font-face {
  font-family: 'RictyDiminishedB';
  src: url("./../fonts/RictyDiminished-Bold.ttf");
}

@font-face {
  font-family: 'lemonMilk';
  src: url("./../fonts/LemonMilk.otf");
}

@font-face {
  font-family: 'ShueiGoSL';
  src: url("./../fonts/A-OTF-ShueiMGoStd-L.otf");
}

@font-face {
  font-family: 'ShueiGoKinStdL';
  src: url("./../fonts/A-OTF-ShueiGoKinStd-L.otf");
}

@font-face {
  font-family: 'ShinGoPr5H';
  src: url("./../fonts/A-OTF-ShinGoPr5-Heavy.otf");
}

:root {
  --maxViewHeight: 100vh;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-moz-keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-webkit-keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@-moz-keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes footerIcon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@-moz-keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@keyframes topSentense {
  0% {
    opacity: 1;
    color: #fbfbfb;
  }
  2% {
    opacity: 1;
    color: #fbfbfb;
  }
  3% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    color: #fbfbfb;
  }
  75% {
    opacity: 1;
    color: #fbfbfb;
  }
  76% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  81% {
    opacity: 1;
    color: #ee9180;
  }
  83% {
    opacity: 1;
    color: #ee9180;
  }
  84% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #fbfbfb;
  }
}

@keyframes autofillOff {
  0% {
    background-color: #1a1818 !important;
    outline: none !important;
  }
  100% {
    background-color: #1a1818 !important;
    outline: none !important;
  }
}

body {
  width: 100%;
  min-width: 320px;
  font-family: "ShueiGoKinStdL", "RictyDiminishedR", sans-serif;
  color: #fbfbfb;
  background-color: #081019;
}

#main {
  width: 100%;
  min-width: 320px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: #1a1818;
}

.loading .ld-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.loading .ld-wrapper .ld-textbox {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.loading .ld-wrapper .ld-textbox span {
  margin-left: 10px;
  display: inline-block;
  width: 180px;
  font-size: 20px;
  font-family: "LemonMilk";
}

.loading .ld-wrapper .ld-textbox span::after {
  content: " .";
  animation-name: dots;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

.loading .ld-wrapper i {
  font-size: 60px;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

.breadcrumb {
  width: 100%;
  padding: 50px 0 0 30px;
}

.breadcrumb .bc-list {
  display: flex;
}

.breadcrumb .bc-list li {
  display: block;
  font-size: 10px;
  color: #5e91cc;
}

.breadcrumb .bc-list li a {
  text-decoration: none;
  color: #5e91cc;
}

.breadcrumb .bc-list li:not(:last-child):after {
  content: ">";
  padding: 0 10px;
}

.section {
  width: 100%;
  min-width: 320px;
  position: relative;
  z-index: 2;
}

.section h2 {
  width: 100%;
  padding-top: 100px;
  text-align: center;
  font-size: 32px;
  font-family: "ShinGoPr5H", "RictyDiminishedB";
  letter-spacing: 0.1em;
}

.section h2 .h2-small {
  font-size: 16px;
  color: #50cfbe;
  font-family: "LemonMilk";
  letter-spacing: normal;
  padding-right: 10px;
}

#header {
  height: 50px;
  width: 100%;
  min-width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#header .h-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#header .h-container a {
  text-decoration: none;
  display: block;
}

#header .h-container a h1 {
  margin: 0 0 9px 20px;
  font-size: 16px;
  font-family: "LemonMilk";
  color: #5e91cc;
  animation-name: h1Up;
  animation-duration: 1000ms;
}

#header .h-container a h1 .h1-small {
  font-size: 12px;
}

#header .h-container a .h1-down {
  animation-name: h1Down;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

#header .nav {
  margin-right: 20px;
  display: relative;
  z-index: 102;
}

#header .nav .n-btn {
  width: 100%;
  padding: 0;
}

#header .nav .n-btn i {
  font-size: 30px;
  color: #fbfbfb;
}

#header .nav .n-btn .fa-times {
  display: none;
}

#header .nav .n-totop {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 18px;
}

#header .nav .n-totop a {
  text-decoration: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 33, 52, 0.8);
}

#header .nav .n-totop a i {
  color: white;
  font-size: 16px;
}

#header .open {
  display: block !important;
}

#header .n-container {
  display: none;
  height: var(--maxViewHeight);
  width: 140px;
  position: fixed;
  top: 0;
  right: -140px;
  z-index: 101;
  background-color: #081019;
}

#header .n-container nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#header .n-container nav .n-title {
  color: #fbfbfb;
  font-family: "ShinGoPr5H", "RictyDiminishedB";
  padding: 0 0 15px 5px;
  border-bottom: 2px solid #fbfbfb;
  margin: 10px;
  font-size: 20px;
}

#header .n-container nav ul {
  width: 100%;
  height: 224px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

#header .n-container nav ul li {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .n-container nav ul li .n-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#header .n-container nav ul li .n-item p {
  color: white;
  font-size: 23px;
  font-family: "ShinGoPr5H", "RictyDiminishedB";
  padding-left: 15px;
}

#header .n-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
  background-color: rgba(8, 16, 25, 0.8);
}

#footer {
  position: relative;
  z-index: 2;
  height: 120px;
  width: 100%;
  background-color: #081019;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#footer ul {
  width: 50%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

#footer ul .f-icon {
  height: 25px;
  display: inline-block;
}

#footer ul .f-icon img, #footer ul .f-icon i {
  height: 100%;
  font-size: 25px;
  color: white;
}

#footer .f-sentence {
  font-size: 10px;
  width: 100%;
  color: #fbfbfb;
  text-align: center;
}

@font-face {
  font-family: 'RictyDiminishedR';
  src: url("./../fonts/RictyDiminished-Regular.ttf");
}

@font-face {
  font-family: 'RictyDiminishedB';
  src: url("./../fonts/RictyDiminished-Bold.ttf");
}

@font-face {
  font-family: 'lemonMilk';
  src: url("./../fonts/LemonMilk.otf");
}

@font-face {
  font-family: 'ShueiGoSL';
  src: url("./../fonts/A-OTF-ShueiMGoStd-L.otf");
}

@font-face {
  font-family: 'ShueiGoKinStdL';
  src: url("./../fonts/A-OTF-ShueiGoKinStd-L.otf");
}

@font-face {
  font-family: 'ShinGoPr5H';
  src: url("./../fonts/A-OTF-ShinGoPr5-Heavy.otf");
}

:root {
  --maxViewHeight: 100vh;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-moz-keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-webkit-keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@-moz-keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes footerIcon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@-moz-keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@keyframes topSentense {
  0% {
    opacity: 1;
    color: #fbfbfb;
  }
  2% {
    opacity: 1;
    color: #fbfbfb;
  }
  3% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    color: #fbfbfb;
  }
  75% {
    opacity: 1;
    color: #fbfbfb;
  }
  76% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  81% {
    opacity: 1;
    color: #ee9180;
  }
  83% {
    opacity: 1;
    color: #ee9180;
  }
  84% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #fbfbfb;
  }
}

@keyframes autofillOff {
  0% {
    background-color: #1a1818 !important;
    outline: none !important;
  }
  100% {
    background-color: #1a1818 !important;
    outline: none !important;
  }
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: #1a1818;
}

.bg .slick-wrapper {
  height: 100%;
  width: 100%;
}

.bg .slick-wrapper .slick-list {
  height: 100%;
  max-width: 100%;
}

.bg .slick-wrapper .slick-list .slick-slide {
  height: 100%;
}

.bg .slick-wrapper .slick-list .slick-slide .slick-img {
  max-width: 100%;
}

.bg .slick-wrapper .slick-list .slick-slide .slick-img img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  opacity: 0.6;
}

#top {
  height: var(--maxViewHeight);
}

#top .t-content {
  height: 100%;
  width: 100%;
  min-width: 320px;
  min-height: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#top .t-content .t-sentense {
  width: 100%;
  animation-name: totopMove;
  animation-duration: 400ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#top .t-content .t-sentense p {
  font-size: 30px;
  width: 100%;
  text-align: center;
  font-family: "LemonMilk";
  color: white;
  animation-name: topSentense;
  animation-duration: 2500ms;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#top .t-content .t-sentense .t-s-small {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: "LemonMilk";
  color: #50cfbe;
  font-size: 12px;
  padding-top: 20px;
}

#top .t-content .t-nav {
  width: 43%;
  height: 250px;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

#top .t-content .t-nav .t-btn {
  width: 100%;
  padding: 20px;
  display: block;
  text-decoration: none;
  background-color: rgba(8, 16, 25, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#top .t-content .t-nav .t-btn p {
  color: #fbfbfb;
  font-family: "LemonMilk";
  font-size: 15px;
}

#profile {
  width: 100%;
}

#profile .p-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

#profile .p-container .p-face {
  width: 100%;
  margin: 30px 0 40px 0;
}

#profile .p-container .p-face .p-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

#profile .p-container .p-face .p-img img {
  height: 100px;
}

#profile .p-container .p-face .p-c-name {
  padding-top: 10px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-family: "ShinGoPr5H", "RictyDiminishedB";
}

#profile .p-container .p-skill {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#profile .p-container .p-skill .p-s-item {
  width: 90%;
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(8, 16, 25, 0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

#profile .p-container .p-skill .p-s-item .p-s-title {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #50cfbe;
  color: #50cfbe;
  text-align: center;
  font-family: "ShinGoPr5H", "RictyDiminishedB";
  font-size: 16px;
  position: relative;
}

#profile .p-container .p-skill .p-s-item .p-s-title .p-s-btn {
  position: absolute;
  right: 10px;
  top: -3px;
  width: 26px;
  height: 26px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

#profile .p-container .p-skill .p-s-item .p-s-title .p-s-btn i {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  color: #50cfbe;
}

#profile .p-container .p-skill .p-s-item .p-s-title .p-s-btn .fa-angle-up {
  display: none;
}

#profile .p-container .p-skill .p-s-item .p-s-wrapper {
  width: 95%;
  display: none;
}

#profile .p-container .p-skill .p-s-item .p-s-wrapper .p-s-box {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#profile .p-container .p-skill .p-s-item .p-s-wrapper .p-s-box .p-s-content {
  font-size: 10px;
  line-height: 14px;
  color: white;
  margin-bottom: 5px;
}

#profile .p-container .p-skill .p-s-item .p-s-wrapper .p-s-box .p-s-content::before {
  content: "　";
}

#profile .p-container .p-skill .p-s-item .p-s-wrapper .p-s-box .p-s-tag {
  min-width: 45%;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 10px;
  color: white;
  background-color: #081019;
  text-align: center;
}

#works {
  min-height: var(--maxViewHeight);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

#works h2 {
  color: white;
}

#works h2 .h2-small {
  color: #50cfbe;
}

#works .w-container {
  width: 90%;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

#works .w-container .w-sentense {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#works .w-container .w-sentense p {
  font-size: 10px;
  color: white;
}

#works .w-container .w-item {
  width: 80%;
  height: 120px;
  margin: 15px 0;
  overflow: hidden;
}

#works .w-container .w-item .w-wrapper {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #1a1818;
}

#works .w-container .w-item .w-wrapper p {
  color: #fbfbfb;
  position: relative;
  text-align: center;
  font-family: "ShinGoPr5H", "RictyDiminishedB";
  letter-spacing: normal;
  font-size: 20px;
  line-height: 24px;
  z-index: 4;
}

#works .w-container .w-item .w-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

#contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact .c-container {
  width: 85%;
  margin: 30px 0;
}

#contact .c-container .c-sentense {
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

#contact .c-container .c-sentense .c-square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: #23466e;
}

#contact .c-container .c-form {
  margin: 30px 0;
  width: 100%;
}

#contact .c-container .c-form form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

#contact .c-container .c-form form .c-item {
  width: 100%;
  padding: 15px 15px 20px 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

#contact .c-container .c-form form .c-item .error {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #d3381c;
  font-size: 12px;
  font-family: "ShinGoPr5H", "RictyDiminishedB";
}

#contact .c-container .c-form form .c-item label {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  font-size: 17px;
  line-height: 20px;
}

#contact .c-container .c-form form .c-item label small {
  font-size: 12px;
}

#contact .c-container .c-form form .c-item .c-inputarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #23466e;
  border-radius: 0 !important;
  display: block;
  background-color: rgba(26, 24, 24, 0.6);
  color: #fbfbfb;
}

#contact .c-container .c-form form .c-item .c-inputarea:focus {
  background-color: #1a1818;
  border-radius: 0 !important;
  color: #fbfbfb !important;
  border: 1px solid #fbfbfb;
}

#contact .c-container .c-form form .c-item .c-inputarea:-webkit-autofill, #contact .c-container .c-form form .c-item .c-inputarea :-webkit-autofill-selected {
  background-color: #1a1818;
  color: #fbfbfb !important;
  border: 1px solid #fbfbfb;
}

#contact .c-container .c-form form .c-confirm {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

#contact .c-container .c-form form .c-confirm .c-cf-sentense {
  width: 100%;
  margin-bottom: 30px;
}

#contact .c-container .c-form form .c-confirm .c-cf-sentense p {
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  padding: 5px 0;
}

#contact .c-container .c-form form .c-confirm .c-cf-wrapper {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}

#contact .c-container .c-form form .c-confirm .c-cf-wrapper .c-btn {
  -webkit-appearance: none !important;
  width: 110px;
  padding: 10px;
  border: 1px solid #fbfbfb;
  border-radius: 0 !important;
  background-color: rgba(17, 33, 52, 0.9);
  color: white;
  font-size: 13px;
  font-family: "ShinGoPr5H", "RictyDiminishedB";
}

#contact .c-container .c-form form .c-confirm .c-cf-wrapper .error {
  position: absolute;
  bottom: -45px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  font-family: "ShinGoPr5H", "RictyDiminishedB";
  color: #d3381c;
}

#contact .c-container .c-form form .c-confirm .reset-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  margin: auto;
  height: 100vh;
  width: 100%;
  background-color: rgba(8, 16, 25, 0.8);
}

#contact .c-container .c-form form .c-confirm .reset-modal .reset-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#contact .c-container .c-form form .c-confirm .reset-modal .reset-wrapper .reset-container {
  position: relative;
  z-index: 1001;
  width: 280px;
  padding: 20px 10px;
  background-color: #081019;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#contact .c-container .c-form form .c-confirm .reset-modal .reset-wrapper .reset-container .reset-sentense {
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
}

#contact .c-container .c-form form .c-confirm .reset-modal .reset-wrapper .reset-container .reset-sentense i {
  font-size: 12px;
  color: #e5573d;
  padding-right: 5px;
}

#contact .c-container .c-form form .c-confirm .reset-modal .reset-wrapper .reset-container .reset-btn {
  width: 35%;
  padding: 5px 10px;
  border: 1px solid #fbfbfb;
  font-size: 13px;
  font-family: "ShinGoPr5H", "RictyDiminishedB";
  background-color: #081019;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'RictyDiminishedR';
  src: url("./../fonts/RictyDiminished-Regular.ttf");
}

@font-face {
  font-family: 'RictyDiminishedB';
  src: url("./../fonts/RictyDiminished-Bold.ttf");
}

@font-face {
  font-family: 'lemonMilk';
  src: url("./../fonts/LemonMilk.otf");
}

@font-face {
  font-family: 'ShueiGoSL';
  src: url("./../fonts/A-OTF-ShueiMGoStd-L.otf");
}

@font-face {
  font-family: 'ShueiGoKinStdL';
  src: url("./../fonts/A-OTF-ShueiGoKinStd-L.otf");
}

@font-face {
  font-family: 'ShinGoPr5H';
  src: url("./../fonts/A-OTF-ShinGoPr5-Heavy.otf");
}

:root {
  --maxViewHeight: 100vh;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-moz-keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-webkit-keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@-moz-keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes footerIcon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@-moz-keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@keyframes topSentense {
  0% {
    opacity: 1;
    color: #fbfbfb;
  }
  2% {
    opacity: 1;
    color: #fbfbfb;
  }
  3% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    color: #fbfbfb;
  }
  75% {
    opacity: 1;
    color: #fbfbfb;
  }
  76% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  81% {
    opacity: 1;
    color: #ee9180;
  }
  83% {
    opacity: 1;
    color: #ee9180;
  }
  84% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #fbfbfb;
  }
}

@keyframes autofillOff {
  0% {
    background-color: #1a1818 !important;
    outline: none !important;
  }
  100% {
    background-color: #1a1818 !important;
    outline: none !important;
  }
}

#confirm {
  background-color: #112134;
  width: 100%;
  min-height: var(--maxViewHeight);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

#confirm .breadcrumb {
  position: absolute;
  top: 0;
  left: 0;
}

#confirm .cf-container {
  width: 80%;
  margin-top: 20px;
}

#confirm .cf-container .cf-sentense {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-size: 10px;
  line-height: 18px;
}

#confirm .cf-container form {
  width: 100%;
}

#confirm .cf-container form .cf-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  padding: 10px;
}

#confirm .cf-container form .cf-item label {
  width: 100%;
  font-size: 12px;
  color: #33b9a7;
  padding: 0 0 10px 5px;
}

#confirm .cf-container form .cf-item .cf-content {
  width: 100%;
  font-size: 14px;
  background-color: black;
  padding: 10px 5px;
  white-space: pre-wrap;
  color: #fbfbfb;
}

#confirm .cf-container form .cf-btn-wrapper {
  width: 100%;
  margin: 30px 0 50px 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#confirm .cf-container form .cf-btn-wrapper .cf-btn {
  width: 100px;
  padding: 10px;
  border: 1px solid #fbfbfb;
  border-radius: 0 !important;
  -webkit-appearance: none !important;
  background-color: #2ea595;
  color: white;
  font-size: 13px;
  font-family: "ShinGoPr5H", "RictyDiminishedB";
}

#send {
  min-height: var(--maxViewHeight);
  background-color: #112134;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#send .breadcrumb {
  position: absolute;
  top: 0;
  left: 0;
}

#send .s-wrapper {
  width: 80%;
  background-color: #081019;
  padding: 20px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#send .s-wrapper h2 {
  padding-top: 30px;
}

#send .s-wrapper .s-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0 20px 0;
}

#send .s-wrapper .s-container p {
  width: 100%;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
}

#send .s-wrapper .s-container a {
  text-decoration: none;
  display: block;
  margin-top: 30px;
  padding: 15px;
  border: 1px solid #fbfbfb;
  background-color: #112134;
  color: white;
  font-family: "ShinGoPr5H", "RictyDiminishedB";
}

@font-face {
  font-family: 'RictyDiminishedR';
  src: url("./../fonts/RictyDiminished-Regular.ttf");
}

@font-face {
  font-family: 'RictyDiminishedB';
  src: url("./../fonts/RictyDiminished-Bold.ttf");
}

@font-face {
  font-family: 'lemonMilk';
  src: url("./../fonts/LemonMilk.otf");
}

@font-face {
  font-family: 'ShueiGoSL';
  src: url("./../fonts/A-OTF-ShueiMGoStd-L.otf");
}

@font-face {
  font-family: 'ShueiGoKinStdL';
  src: url("./../fonts/A-OTF-ShueiGoKinStd-L.otf");
}

@font-face {
  font-family: 'ShinGoPr5H';
  src: url("./../fonts/A-OTF-ShinGoPr5-Heavy.otf");
}

:root {
  --maxViewHeight: 100vh;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-moz-keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-webkit-keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@-moz-keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes footerIcon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@-moz-keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@keyframes topSentense {
  0% {
    opacity: 1;
    color: #fbfbfb;
  }
  2% {
    opacity: 1;
    color: #fbfbfb;
  }
  3% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    color: #fbfbfb;
  }
  75% {
    opacity: 1;
    color: #fbfbfb;
  }
  76% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  81% {
    opacity: 1;
    color: #ee9180;
  }
  83% {
    opacity: 1;
    color: #ee9180;
  }
  84% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #fbfbfb;
  }
}

@keyframes autofillOff {
  0% {
    background-color: #1a1818 !important;
    outline: none !important;
  }
  100% {
    background-color: #1a1818 !important;
    outline: none !important;
  }
}

#w-page {
  background-color: #112134;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#w-page h3 {
  font-size: 20px;
  font-family: "ShinGoPr5H", "RictyDiminishedB";
  display: inline-block;
  width: auto;
  margin-top: 40px;
  border-bottom: 2px solid #fbfbfb;
  padding: 10px;
}

#w-page .w-p-container {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#w-page .w-p-container .w-p-slide {
  padding: 20px 35px;
}

#w-page .w-p-container .w-p-slide .slick-w-wrapper .slick-prev {
  z-index: 9;
  left: -20px;
}

#w-page .w-p-container .w-p-slide .slick-w-wrapper .slick-next {
  z-index: 9;
  right: -20px;
}

#w-page .w-p-container .w-p-slide .slick-w-wrapper .slick-dots li button::before {
  color: #fbfbfb;
}

#w-page .w-p-container .w-p-slide .slick-w-wrapper .slick-list .slick-slide .w-p-imgbox {
  max-width: 100%;
}

#w-page .w-p-container .w-p-slide .slick-w-wrapper .slick-list .slick-slide .w-p-imgbox img {
  height: 250px;
  width: 100%;
  object-fit: contain;
}

#w-page .w-p-container .w-p-slide .slick-w-wrapper .slick-list .slick-slide .w-p-imgbox p {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 10px;
  color: #fbfbfb;
}

#w-page .w-p-container .w-p-text {
  width: 80%;
}

#w-page .w-p-container .w-p-text .w-p-item {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#w-page .w-p-container .w-p-text .w-p-item .w-p-theme {
  padding: 5px;
  border-bottom: 2px solid #50cfbe;
  color: #50cfbe;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "ShinGoPr5H", "RictyDiminishedB";
}

#w-page .w-p-container .w-p-text .w-p-item .w-p-sentense {
  width: 100%;
  display: block;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  padding: 5px 10px;
}

#w-page .w-p-container .w-p-text .w-p-item .w-p-sentense a {
  text-decoration: none;
  color: #85acd8;
}

#w-page .w-p-container .w-p-text .w-p-item .w-p-sentense a::after {
  font-weight: bold;
  content: "\f360";
  font-family: "Font Awesome 5 Free";
  padding-left: 8px;
}

#w-page .w-p-container .w-p-text .w-p-item .onmark::before {
  content: "\f058";
  color: #33b9a7;
  font-family: "Font Awesome 5 Free";
  padding-right: 8px;
}

@font-face {
  font-family: 'RictyDiminishedR';
  src: url("./../fonts/RictyDiminished-Regular.ttf");
}

@font-face {
  font-family: 'RictyDiminishedB';
  src: url("./../fonts/RictyDiminished-Bold.ttf");
}

@font-face {
  font-family: 'lemonMilk';
  src: url("./../fonts/LemonMilk.otf");
}

@font-face {
  font-family: 'ShueiGoSL';
  src: url("./../fonts/A-OTF-ShueiMGoStd-L.otf");
}

@font-face {
  font-family: 'ShueiGoKinStdL';
  src: url("./../fonts/A-OTF-ShueiGoKinStd-L.otf");
}

@font-face {
  font-family: 'ShinGoPr5H';
  src: url("./../fonts/A-OTF-ShinGoPr5-Heavy.otf");
}

:root {
  --maxViewHeight: 100vh;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-moz-keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-webkit-keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@-moz-keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes footerIcon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@-moz-keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@keyframes topSentense {
  0% {
    opacity: 1;
    color: #fbfbfb;
  }
  2% {
    opacity: 1;
    color: #fbfbfb;
  }
  3% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    color: #fbfbfb;
  }
  75% {
    opacity: 1;
    color: #fbfbfb;
  }
  76% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  81% {
    opacity: 1;
    color: #ee9180;
  }
  83% {
    opacity: 1;
    color: #ee9180;
  }
  84% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #fbfbfb;
  }
}

@keyframes autofillOff {
  0% {
    background-color: #1a1818 !important;
    outline: none !important;
  }
  100% {
    background-color: #1a1818 !important;
    outline: none !important;
  }
}

@media (min-width: 600px) {
  body #main .section h2 {
    font-size: 50px;
  }
  body #main .section h2 .h2-small {
    font-size: 20px;
  }
  .breadcrumb {
    padding: 100px 0 0 40px;
  }
  .breadcrumb .bc-list li {
    font-size: 14px;
  }
  .breadcrumb .bc-list li:not(:last-child):after {
    padding: 0 15px;
  }
  #header {
    height: 75px;
  }
  #header .h-container a h1 {
    margin: 0 0 6px 30px;
    font-size: 28px;
  }
  #header .h-container a h1 .h1-small {
    font-size: 18px;
  }
  #header .h-container .nav {
    margin-right: 30px;
  }
  #header .h-container .nav i {
    font-size: 40px;
  }
  #header .h-container .nav .n-totop {
    right: 30px;
  }
  #header .h-container .nav .n-totop a {
    width: 50px;
    height: 50px;
  }
  #header .h-container .nav .n-totop i {
    font-size: 25px;
  }
  #header .h-container .n-container {
    width: 240px;
    right: -240px;
  }
  #header .h-container .n-container nav .n-title {
    padding-bottom: 20px;
    margin: 25px;
    font-size: 25px;
  }
  #header .h-container .n-container nav ul {
    height: 370px;
  }
  #header .h-container .n-container nav ul li {
    height: 80px;
  }
  #header .h-container .n-container nav ul li .n-item p {
    font-size: 30px;
    padding-left: 30px;
  }
  #top .t-content .t-sentense p {
    font-size: 60px;
    padding-top: 250px;
  }
  #top .t-content .t-nav {
    margin: 100px 0 100px 0;
    width: 30%;
  }
  #profile .p-container .p-face {
    align-items: center;
    padding: 40px 0;
  }
  #profile .p-container .p-skill {
    width: 65%;
    margin-bottom: 50px;
  }
  #profile .p-container .p-skill .p-s-item {
    width: 100%;
  }
  #profile .p-container .p-skill .p-s-item .p-s-wrapper .p-s-box {
    margin-top: 20px;
  }
  #profile .p-container .p-skill .p-s-item .p-s-wrapper .p-s-box .p-s-content {
    font-size: 12px;
    line-height: 16px;
  }
  #profile .p-container .p-skill .p-s-item .p-s-wrapper .p-s-box .p-s-tag {
    font-size: 14px;
    padding: 15px;
  }
  #works .w-container {
    width: 70%;
    padding-bottom: 80px;
  }
  #works .w-container .w-sentense {
    margin-bottom: 70px;
  }
  #works .w-container .w-sentense p {
    font-size: 12px;
  }
  #works .w-container .w-item {
    height: 200px;
    width: 85%;
    margin: 20px 0;
  }
  #works .w-container .w-item .w-wrapper p {
    font-size: 30px;
    line-height: 34px;
  }
  #contact .c-container .c-sentense {
    font-size: 15px;
  }
  #contact .c-container .c-form form .c-item {
    width: 80%;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  #contact .c-container .c-form form .c-item label {
    width: 48%;
    padding-top: 15px;
  }
  #contact .c-container .c-form form .c-item input.c-inputarea {
    width: 50%;
  }
  #contact .c-container .c-form form .c-item .error {
    bottom: 10px;
    font-size: 15px;
  }
  #contact .c-container .c-form form .c-i-long {
    justify-content: center;
    flex-wrap: wrap;
  }
  #contact .c-container .c-form form .c-i-long label {
    width: 100%;
  }
  #contact .c-container .c-form form .c-i-long textarea.c-inputarea {
    width: 100%;
  }
  #contact .c-container .c-form form .c-confirm .c-cf-sentense {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }
  #contact .c-container .c-form form .c-confirm .c-cf-sentense p {
    width: 70%;
    font-size: 15px;
  }
  #contact .c-container .c-form form .c-confirm .c-cf-wrapper .c-btn {
    width: 145px;
    padding: 15px;
    font-size: 18px;
  }
  #contact .c-container .c-form form .c-confirm .c-cf-wrapper .error {
    font-size: 15px;
  }
  #confirm .cf-container {
    width: 60%;
    margin-top: 50px;
  }
  #confirm .cf-container .cf-sentense {
    font-size: 15px;
  }
  #confirm .cf-container form .cf-item {
    padding: 20px;
  }
  #confirm .cf-container form .cf-item label {
    font-size: 20px;
    padding: 0 0 20px 10px;
  }
  #confirm .cf-container form .cf-item .cf-content {
    font-size: 22px;
    padding: 10px;
  }
  #confirm .cf-container form .cf-btn-wrapper {
    margin-bottom: 100px;
  }
  #confirm .cf-container form .cf-btn-wrapper .cf-btn {
    width: 110px;
    font-size: 18px;
    padding: 15px;
  }
  #send .s-wrapper {
    width: 66%;
  }
  #w-page h3 {
    font-size: 35px;
    margin-top: 80px;
    border-bottom: 3px solid #fbfbfb;
  }
  #w-page .w-p-container .w-p-slide {
    padding: 50px 60px;
  }
  #w-page .w-p-container .w-p-slide .slick-prev, #w-page .w-p-container .w-p-slide .slick-next {
    width: 40px;
    height: 40px;
  }
  #w-page .w-p-container .w-p-slide .slick-prev::before, #w-page .w-p-container .w-p-slide .slick-next::before {
    font-size: 40px;
  }
  #w-page .w-p-container .w-p-slide .slick-prev {
    left: -45px;
  }
  #w-page .w-p-container .w-p-slide .slick-next {
    right: -45px;
  }
  #w-page .w-p-container .w-p-slide .slick-w-wrapper .slick-list .slick-slide .w-p-imgbox img {
    height: 500px;
  }
  #w-page .w-p-container .w-p-slide .slick-w-wrapper .slick-list .slick-slide .w-p-imgbox p {
    font-size: 18px;
  }
  #w-page .w-p-container .w-p-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 85%;
  }
  #w-page .w-p-container .w-p-text .w-p-item {
    width: 48%;
    margin-bottom: 30px;
    align-items: flex-start;
  }
  #w-page .w-p-container .w-p-text .w-p-item .w-p-theme {
    font-size: 24px;
    padding: 10px;
  }
  #w-page .w-p-container .w-p-text .w-p-item .w-p-sentense {
    font-size: 14px;
    line-height: 22px;
  }
  #footer ul .f-icon {
    height: 40px;
  }
  #footer ul .f-icon img, #footer ul .f-icon i {
    font-size: 40px;
  }
  #footer .f-sentence {
    font-size: 12px;
  }
}

@font-face {
  font-family: 'RictyDiminishedR';
  src: url("./../fonts/RictyDiminished-Regular.ttf");
}

@font-face {
  font-family: 'RictyDiminishedB';
  src: url("./../fonts/RictyDiminished-Bold.ttf");
}

@font-face {
  font-family: 'lemonMilk';
  src: url("./../fonts/LemonMilk.otf");
}

@font-face {
  font-family: 'ShueiGoSL';
  src: url("./../fonts/A-OTF-ShueiMGoStd-L.otf");
}

@font-face {
  font-family: 'ShueiGoKinStdL';
  src: url("./../fonts/A-OTF-ShueiGoKinStd-L.otf");
}

@font-face {
  font-family: 'ShinGoPr5H';
  src: url("./../fonts/A-OTF-ShinGoPr5-Heavy.otf");
}

:root {
  --maxViewHeight: 100vh;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-moz-keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-webkit-keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@-moz-keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes footerIcon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@-moz-keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@keyframes topSentense {
  0% {
    opacity: 1;
    color: #fbfbfb;
  }
  2% {
    opacity: 1;
    color: #fbfbfb;
  }
  3% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    color: #fbfbfb;
  }
  75% {
    opacity: 1;
    color: #fbfbfb;
  }
  76% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  81% {
    opacity: 1;
    color: #ee9180;
  }
  83% {
    opacity: 1;
    color: #ee9180;
  }
  84% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #fbfbfb;
  }
}

@keyframes autofillOff {
  0% {
    background-color: #1a1818 !important;
    outline: none !important;
  }
  100% {
    background-color: #1a1818 !important;
    outline: none !important;
  }
}

@media (min-width: 1025px) and (min-height: 500px) {
  .breadcrumb .bc-list li a {
    position: relative;
  }
  .breadcrumb .bc-list li a::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #23466e;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }
  .breadcrumb .bc-list li a:hover {
    color: #23466e;
    transition-duration: 300ms;
  }
  .breadcrumb .bc-list li a:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }
  #header .h-container a:hover .h1-down {
    animation-name: h1Up;
  }
  #header .h-container .nav .n-btn i {
    opacity: 0.7;
    transition-duration: 400ms;
  }
  #header .h-container .nav .n-btn i:hover {
    opacity: 1;
    transition-duration: 400ms;
  }
  #header .h-container .nav .n-totop {
    opacity: 0.7;
  }
  #header .h-container .nav .n-totop:hover {
    opacity: 1;
    animation-name: totopMove;
    animation-duration: 400ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  #header .h-container .n-container nav ul li .n-item:hover {
    background-color: #23466e;
  }
  #top .t-content {
    padding-top: 150px;
  }
  #top .t-content .t-sentense p {
    padding-top: 200px;
    font-size: 70px;
  }
  #top .t-content .t-nav {
    width: 65%;
    justify-content: space-between;
  }
  #top .t-content .t-nav .t-btn {
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  #top .t-content .t-nav .t-btn:hover {
    background-color: #289183;
    border: 1px solid #fbfbfb;
    transition-duration: 500ms;
    transition-timing-function: ease;
  }
  #profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
  }
  #profile .p-container {
    margin-bottom: 30px;
  }
  #profile .p-container .p-face .p-img img {
    height: 150px;
  }
  #profile .p-container .p-skill {
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
  }
  #profile .p-container .p-skill .p-s-item {
    width: 30%;
  }
  #profile .p-container .p-skill .p-s-item .p-s-title {
    font-size: 20px;
  }
  #profile .p-container .p-skill .p-s-item .p-s-wrapper .p-s-box {
    margin: 30px 0 10px 0;
  }
  #profile .p-container .p-skill .p-s-item .p-s-wrapper .p-s-box .p-s-content {
    font-size: 12px;
    padding-bottom: 10px;
  }
  #profile .p-container .p-skill .p-s-item .p-s-wrapper .p-s-box .p-s-tag {
    font-size: 12px;
    padding: 10px;
  }
  #works .w-container {
    width: 80%;
    padding-bottom: 100px;
  }
  #works .w-container .w-item {
    width: 30%;
    height: 400px;
  }
  #works .w-container .w-item .w-wrapper:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
  }
  #works .w-container .w-item .w-wrapper:hover img {
    opacity: 0.3;
    transition-duration: 500ms;
  }
  #works .w-container .w-item .w-wrapper p {
    font-size: 27px;
  }
  #contact .c-container {
    width: 60%;
  }
  #contact .c-container .c-form form {
    justify-content: space-between;
  }
  #contact .c-container .c-form form .c-item {
    width: 48%;
  }
  #contact .c-container .c-form form .c-item label {
    width: 100%;
  }
  #contact .c-container .c-form form .c-item input.c-inputarea {
    width: 100%;
  }
  #contact .c-container .c-form form .c-i-long {
    width: 100% !important;
  }
  #contact .c-container .c-form form .c-confirm .reset-modal .reset-wrapper .reset-container .reset-btn:hover {
    background-color: #289183;
    color: white;
    transition-duration: 500ms;
    transition-timing-function: ease;
  }
  #contact .c-container .c-form form .c-confirm .c-cf-sentense p {
    width: 90%;
  }
  #contact .c-container .c-form form .c-confirm .c-cf-wrapper .c-btn:hover {
    background-color: #289183;
    border: 1px solid #fbfbfb;
    transition-duration: 500ms;
    transition-timing-function: ease;
  }
  #confirm .cf-container form .cf-btn-wrapper .cf-btn:hover {
    background-color: #289183;
    border: 3px solid #fbfbfb;
    transition-duration: 500ms;
    transition-timing-function: ease;
  }
  #send .s-wrapper {
    width: 60%;
  }
  #send .s-wrapper .s-container a:hover {
    background-color: #289183;
    border: 1px solid #fbfbfb;
    transition-duration: 500ms;
    transition-timing-function: ease;
  }
  #w-page .w-p-container .w-p-slide {
    padding: 50px 80px;
  }
  #w-page .w-p-container .w-p-slide .slick-prev, #w-page .w-p-container .w-p-slide .slick-next {
    width: 40px;
    height: 40px;
  }
  #w-page .w-p-container .w-p-slide .slick-prev::before, #w-page .w-p-container .w-p-slide .slick-next::before {
    font-size: 40px;
  }
  #w-page .w-p-container .w-p-slide .slick-prev {
    left: -15px;
  }
  #w-page .w-p-container .w-p-slide .slick-next {
    right: -15px;
  }
  #w-page .w-p-container .w-p-slide .slick-w-wrapper .slick-list .slick-slide .w-p-imgbox img {
    height: 600px;
  }
  #w-page .w-p-container .w-p-slide .slick-w-wrapper .slick-list .slick-slide .w-p-imgbox p {
    padding: 20px;
    font-size: 18px;
  }
  #w-page .w-p-container .w-p-text {
    width: 75%;
  }
  #footer {
    height: 180px;
  }
  #footer ul .f-icon:hover {
    animation-name: footerIcon;
    animation-duration: 1000ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}

@font-face {
  font-family: 'RictyDiminishedR';
  src: url("./../fonts/RictyDiminished-Regular.ttf");
}

@font-face {
  font-family: 'RictyDiminishedB';
  src: url("./../fonts/RictyDiminished-Bold.ttf");
}

@font-face {
  font-family: 'lemonMilk';
  src: url("./../fonts/LemonMilk.otf");
}

@font-face {
  font-family: 'ShueiGoSL';
  src: url("./../fonts/A-OTF-ShueiMGoStd-L.otf");
}

@font-face {
  font-family: 'ShueiGoKinStdL';
  src: url("./../fonts/A-OTF-ShueiGoKinStd-L.otf");
}

@font-face {
  font-family: 'ShinGoPr5H';
  src: url("./../fonts/A-OTF-ShinGoPr5-Heavy.otf");
}

:root {
  --maxViewHeight: 100vh;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-moz-keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes h1Down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@-webkit-keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes h1Up {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@-moz-keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes totopMove {
  0% {
    bottom: 18px;
  }
  100% {
    bottom: 30px;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes footerIcon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@-moz-keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@keyframes dots {
  0% {
    content: " .";
  }
  33% {
    content: " . .";
  }
  66% {
    content: " . . .";
  }
}

@keyframes topSentense {
  0% {
    opacity: 1;
    color: #fbfbfb;
  }
  2% {
    opacity: 1;
    color: #fbfbfb;
  }
  3% {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    color: #fbfbfb;
  }
  75% {
    opacity: 1;
    color: #fbfbfb;
  }
  76% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  81% {
    opacity: 1;
    color: #ee9180;
  }
  83% {
    opacity: 1;
    color: #ee9180;
  }
  84% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #fbfbfb;
  }
}

@keyframes autofillOff {
  0% {
    background-color: #1a1818 !important;
    outline: none !important;
  }
  100% {
    background-color: #1a1818 !important;
    outline: none !important;
  }
}

@media not all and (min-height: 500px) {
  .breadcrumb {
    padding-top: 50px;
  }
  .breadcrumb .bc-list li {
    font-size: 10px;
  }
  .breadcrumb .bc-list li a {
    font-size: 10px;
  }
  #header {
    height: 50px;
  }
  #header .h-container a #h1 {
    font-size: 14px;
  }
  #header .h-container a #h1 .h1-small {
    font-size: 12px;
  }
  #header .nav {
    margin-right: 15px;
  }
  #header .nav .n-btn i {
    font-size: 25px;
  }
  #header .nav .n-totop a {
    width: 25px !important;
    height: 25px !important;
  }
  #header .nav .n-totop a i {
    font-size: 16px !important;
  }
  #header .n-container nav ul {
    height: 150px !important;
  }
  #header .n-container nav ul li {
    height: 25px !important;
  }
  #header .n-container nav ul li a p {
    font-size: 16px !important;
  }
  #top {
    height: auto;
  }
  #top .t-content .t-sentense p {
    padding-top: 120px;
  }
  #works .w-container .w-sentense p {
    font-size: 12px;
  }
  #contact .c-container .c-sentense {
    font-size: 12px;
  }
  #contact .c-container .c-form form .c-confirm .c-cf-sentense p {
    font-size: 12px;
  }
  #send .s-wrapper {
    width: 70%;
    margin-bottom: 30px;
  }
  #send .s-wrapper h2 {
    font-size: 30px !important;
    padding-top: 20px;
  }
  #send .s-wrapper .s-container {
    margin: 15px 0 15px 0;
  }
  #send .s-wrapper .s-container p {
    font-size: 10px;
  }
  #send .s-wrapper .s-container a {
    margin-top: 20px;
    padding: 10px;
  }
  #w-page h3 {
    margin-top: 30px;
    font-size: 20px;
  }
  #w-page .w-p-container .w-p-slide {
    padding: 20px 140px;
  }
  #w-page .w-p-container .w-p-slide .slick-prev {
    left: -75px;
  }
  #w-page .w-p-container .w-p-slide .slick-next {
    right: -75px;
  }
  #w-page .w-p-container .w-p-slide .slick-w-wrapper .slick-list .slick-slide .w-p-imgbox img {
    height: 300px;
  }
  #w-page .w-p-container .w-p-slide .slick-w-wrapper .slick-list .slick-slide .w-p-imgbox p {
    padding: 10px;
    font-size: 10px;
  }
  #w-page .w-p-container .w-p-text .w-p-item .w-p-theme {
    font-size: 20px;
  }
  #w-page .w-p-container .w-p-text .w-p-item .w-p-sentense {
    font-size: 12px;
  }
}
